/* HomeSection.module.css */
.container
{
    width: 100vw;
}


.home {
    
    margin :0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100vw; 
    height: auto; 
    color: rgb(8, 8, 8);
}

/* .top{
    width: 100vw;
} */
.homeText{
    margin-left: 50px;
    margin-top: 50px;
}

.homeText h1 {
    /* animation: typing 2s steps(50), blink .5s step-end infinite alternate;
    animation-iteration-count: 2; */
    align-items: left;
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Fira Code', monospace;

}

.homeText p {
    /* animation: typing 2s steps(50), blink .5s step-end infinite alternate;
    animation-iteration-count: 2; */
    align-items: left;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Anonymous Pro', monospace;
    color:black;


}

.ctaButtons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    background-color: white;
    color: #ff7eaa;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.getStarted {
    /* padding-left: 7vw; */
    background-color: #005bbb;
    color: white;
    
}

.learnMore {
    background-color: #ff7eaa;
    color: white;
}

.homeImage img {
    /* padding-right: ; */
    max-width: 400vb;
    max-height: 600px;
}

body{
    background-image: url(home.jpg);
    background-position: left top; /* Position the background at the bottom-left */
    background-size: cover; /* Ensures the image covers the entire viewport while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevents repeating the image */
    height: 100vh; /* Ensure the body takes the full viewport height */
    margin: 0; /* Removes any default margin */
}

/* @keyframes typing {
    from {
      width: 0
    }
    to{
        width:100%
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
} */
