.header {
    display: flex;
    justify-content: space-between; /* Keeps logo on left, other items on right */
    align-items: center; /* Centers items vertically */
    padding: 20px;
    width: 100%;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Ubuntu Mono", monospace;
    color: #1710e9; /* Bright blue */
}

.logo:hover {
    text-decoration: none;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center; /* Centers the navigation items horizontally */
    align-items: center;
    flex-grow: 1; /* Makes navList take up remaining space */
}

.navItem {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.signUp {
    background: linear-gradient(to right, magenta, purple);
    padding: 10px 20px;
    border-radius: 20px;
}

.signUp:hover {
    text-decoration: none;
}
