* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: Arial, sans-serif; /* Set a default font */
    
   
    line-height: 1.6; /* Improved readability */
    margin: 0;
    padding: 0;
}

/* Link styles */
a {
    color: #007bff; /* Default link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

body{
    background-image: url(home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
