/* NotFound.module.css */
.container {
    width: 100vw;
    height: 100vb;
    padding: 0;
    margin: 0;
    display: grid;
}

.notFound {
    width: 100vw;
    grid-column: 1/-1;
    grid-row: 2/4;
    background-color: #000;
    color: #ff7eaa;
}

h1 {
    padding: 0;
    font-size: 500%;
    margin-bottom: 20px;
}

.notFound p {
    font-size: 18px;
    margin-bottom: 20px;
}

.homeLink {
    padding: 10px 20px;
    background-color: #ff7eaa;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
