/* HomeSection.module.css */

.home {
    
    margin :0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100vw; 
    height: auto; 
    color: rgb(8, 8, 8);
}

.top{
    width: fit-content;
}

.homeText h1 {
    align-items: left;
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Fira Code', monospace;

}

.homeText p {
    align-items: left;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Anonymous Pro', monospace;


}

.ctaButtons {
    padding-left:50px;
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 60px;
    background-color: white;
    color: #ff7eaa;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.getStarted {
    /* padding-left: 7vw; */
    background-color: #005bbb;
    color: rgb(248, 69, 164);
    
}

.homeImage img {
    /* padding-right: ; */
    max-width: 400vb;
    max-height: 600px;
}

body{
    background-image: url(home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

