.googleLoginContainer {
    text-align: center;
    /* width: fit-content; */
}

.navItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: white;
    font-size: 16px;
    max-width: 200px;
    border-radius: 10px;
    background: linear-gradient(to right, magenta, purple);
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    text-align: center;
}
