.googleLoginContainer {
    text-align: center;
    width: fit-content;
}



.navItem {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to right, magenta, purple);
}

.navItem:hover {
    background: linear-gradient(to right, purple, magenta);
}
